<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<style>
.alert {
  /*position: relative;*/
  /*height: 7rem;*/
  background: #FFC107; /*#EC5766;*/
  background: #ebebeb;
  background: white;
  padding: 1rem 2rem;
  border-radius: 25px;
  margin: 0rem auto;
  font-size: 0.9rem;
  color: white;
}
.small-bar{
  content: "";
  margin: 1rem auto;
  height: 0.7rem;
  width: 5rem;
  background-color: #ebebeb;
}
.extra-space {
  height: 1rem;
}
a.alert-link-box, .alert-text p, .alert-footer p {
  margin: 0 !important; padding: 0 !important;
  color: black;
  border: none;
}
/*.alert-icon, .alert-text {*/
  /*display: inline-block; position: absolute; top:1rem; height: 100px;*/
/*}*/
/*.alert-text {width: 60%; left: 30%;}*/
.alert-icon { display: inline-block; width: 26%; vertical-align: top;}
/*.alert-text { display: inline-block; width: 69%; }*/
.alert-text { display: inline-block; }
.alert-text p{ font-size: 1.4rem; }
.alert-footer {width: 100%;}
.upper{text-transform: uppercase;}
.extra-space-text {margin: 0.4rem 0;}
a.invert {color: black;}
a.invert:hover {color: white;}
.action {
  /*float:right;*/
  font-size: 1.2rem;
  display: inline-block;
  /*position:absolute;*/
  /*left: 50%;*/
  background: #d45603; /*#FFC107;*/
  color: white;
  /*background*/: black;
  padding: 0.1rem 0.8rem;
  margin-top: 1rem;
  /*margin-top: 0.6rem;*/
  /*border-radius: 25px;*/
  /*float: right;*/
}
</style>

<!-- <div class="extra-space"></div> -->
<div class="small-bar"></div>

<div class="alert">

  <a class="alert-link-box" href="http://5p2p.it/l-amore-chiama-l-amore-e-urgente/">
  
  <!--   <div class="alert-icon">
      <i class="fa fa-rocket fa-4x white-text"></i>
    </div> -->
    
    <div class="alert-text">
      <p>È arrivato il <b>primo corso</b> di 5pani2pesci per imparare ad amare da Dio!</p>
<!--       <a class="upper extra-space-text invert" href="http://5p2p.it/l-amore-chiama-l-amore-e-urgente/">
      L'amore chiama, l'amore è urgente!
      </a> -->
      <!-- <p>Sermig Torino, 11-14 Febbraio 2016.</p> -->
    </div>

    <div style="text-align: center">
    <div class="action">Iscriviti ora!</div>
    </div>

  </a>
</div>

<div class="small-bar"></div>
<div class="extra-space"></div>





