---
# Sass definitions
---


// NOTE
// - correct all h1-h4 size assignments (non ad-hoc font-size)
// - is there a google font alterntive?


///////////////////////////////////////////////////

// <!--Colours-->
$Main:                    #d45603;  // hover color and highlight
$Text:                    #1a3b3c;
$Tint:                    #1a3b3c;
$Header:                  #d45603;
$Header_Background:       #54aeb4; // #333333;
$Description_Text:        #cccccc;
$Description_Background:  #80CFD3;

// <!--Sizing-->
$Column_Size:             600px;
$Header_height:           55px;
$Max_height:              600px;

// <!--Fonts-->
// $Headings:                "calluna-sans",sans-serif;
$Subheadings:             "calluna-sans";
$Body:                    "calluna";
$Fancy:                   "Clarendon"; // quotes
.font_black{
  font-family: "calluna-sans",sans-serif;
  font-style: normal;
  font-weight: 900;
}

// Typography
$scale   : 1.2;
$pg_size : 1.0;
$sm_size : $pg_size/$scale;
$h4_size : $pg_size*$scale;
$h3_size : $h4_size*$scale;
$h2_size : $h3_size*$scale;
$h1_size : $h2_size*$scale;

.small_size { 
  font-size: $sm_size rem;
}
h4 {
  font-size: $h4_size rem;
}
h3 {
  font-size: $h3_size rem;
}
h2 {
  font-size: $h2_size rem;
}
h1 {
  font-size: $h1_size rem;
}

///////////////////////////////////////////////////


.archivio {
    display: none;
}

/*--Column Width--*/
.postHead {
    max-width: $Column_Size;
}

.row {
  padding: 0 1.4rem;
  max-width: $Column_Size;
}

// Header for the landing page
#header_landing {
    background-color: $Header_Background;
}

// Normal header
#header {
    background-color: #fff;
}

#header_image {
  padding: 1rem 0;
    margin: 0 auto;
/*padding-top: 55px;*/
/*margin-top: -55px;*/
    background: $Header_Background;
    max-width: 700px;
/*padding-top: 2rem;*/
/*border-top: 2px solid #80CFD3;*/
  img {
    height: auto;
    max-height: $Max_height;
  }
}


.header p {
    color: $Header;
    opacity: .6;
}

.header ul li {
    color: $Header;
    opacity: .6;
}

#headerTint {
    background: $Tint;
}

#bigTitle {
    color: $Header;
}

// Highlight Options
::selection {
    opacity: 1;
    color: #fff;
    background-color: $Main;
}

:-moz-selection {
    opacity: 1;
    color: #fff;
    background-color: $Main;
}

// Link Hover
a:hover {
    color: $Main;
}

.header #title:hover {
    color: $Main;
}

.menuIcon:hover {
    color: $Main;
}

.sb-slidebar ul li a:hover {
    color: $Main;
}

#bottomLinks a:hover {
    color: $Main;
}

// Fonts
h1,h2,h3,h4,h5,h6 {
  @extend .font_black;
    // font-family: $Headings !important;
}

body,ol.notes li.note blockquote a,.postAuthor,.postStats,ol.notes li {
  @extend .font_black;
    // font-family: $Subheadings !important;
}

.quote,.pDropCap,pQuote {
    font-family: $Fancy !important;
}

.post p,.chat li,blockquote,#recentSummary,.source {
    font-family: $Body;
}

.header ul,.header p {
    display: block;
}

.header h1 {
    display: block;
}

.backButtonContainer {
    display: none !important;
}

.backButton {
    display: none;
}

#header {
    background-color: $Header_Background;
}

// {block:PermalinkPage}
//   <style>
//   /*--STYLE FOR PERMALINK PAGE ONLY--*/
//     /*HEADER*/
//     .header ul, .header p{display:none;}
//     .header h1{display:none;}
//     .backButtonContainer{margin-top:20px;}
//     .backButton{display:initial;}

//     /*HIDE*/
//     .hideOnPermalink{display:none !important;}
//     .hideOnIndex{display:block;}

//     #title, #recentTitle{font-size:2.618rem; line-height:3.141rem;}

//     /*TYPOGRAPHY*/
//     /* first paragraph larger */
//     .post > p:first-of-type{font-size:1.25rem; line-height:2.022rem;} /*1.2 & 1.618*/

//   /*LARGER THAN 900PX*/
//     @media only screen and (min-width: 900px)
//     {
//       #title, #recentTitle{font-size:3.272rem; line-height:3.926rem;}

//       /* first paragraph larger*/
//       .post > p:first-of-type{font-size:1.5rem; line-height:2.427rem;} /*1.2 & 1.618*/
//     }
//   /*END LARGER THAN 900PX*/

//   #headerBackground{display:none;}
//   </style>
// {/block:PermalinkPage}



.post p a,.post li a {
    color: $Main;
    border-bottom: 1px dashed $Main;
}

.post p a:hover,.post li a:hover {
    color: $Text;
    border-bottom: 1px dashed $Header_Background;
}

.post h3 {
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 1.8rem;
/*letter-spacing: -0.02rem;*/
    border-bottom: 1px solid;
    margin: 0;
    padding: 0;
    margin-bottom: 1.4rem;
}

blockquote {
    border: 0;
    margin: 0;
    padding: 0;
}

blockquote {
    font-family: Georgia,serif;
    font-size: 1.35rem;
    font-style: italic;
/*width: 500px;*/
    margin: .25rem 2rem;
    padding: .25rem 2rem;
    line-height: 1.6;
    position: relative;
    color: #383838;
}

blockquote:before {
    display: block;
    content: "\201C";
    font-size: 6rem;
    position: absolute;
    left: -1.5rem;
    top: -2.5rem;
    color: #7a7a7a;
}

blockquote cite {
    text-align: right;
    color: #999;
    font-size: 1.2rem;
    display: block;
    margin-top: .5rem;
}

blockquote cite:before {
    content: "\2014 \2009";
}

// RESPONSIVE BIG SCREENS (mobile first)
@media all and (min-width: 900px) {
  blockquote {
      padding: .25rem 4rem;
  }

  blockquote:before {
      left: 0;
      top: -2rem;
  }

  // .post h3 {
  //     font-size: 1.4rem;
  //     line-height: 2rem;
  // }
}


// {block:IfFadeOn}
//         #headerBackground{display:block;}
//         #headerTint{
//     background: linear-gradient(to top,
//         rgba(255,255,255,1) 0%,
//         rgba(255,255,255,0.95) 10%,
//         rgba(255,255,255,0.75) 30%,
//         rgba(255,255,255,0) 100%);
//         opacity:1;}
// {/block:IfFadeOn}

// {block:IfHeaderBackgroundImage}
// <style>
//     #headerBackground{
//         background:url('{image:HeaderBackground}');
//         background-size: cover;}
//     #header{background-color:inherit;}
// </style>
// {/block:IfHeaderBackgroundImage}


// {block:IndexPage}
// {block:IfFullHeight}
// <style>
//     .header, #headerBackground, #headerTint{height:100vh;}
//     #bigTitle{margin-top:30vh;}
// </style>
// {/block:IfFullHeight}
// {/block:IndexPage}

// {block:IfFullImages}
// <style>
//     img{width:100%;}
//     .postAuthorImage{width:inherit;}
//     img.avatar {width:inherit;}
//     #instafeed img{width:initial;}
// </style>
// {/block:IfFullImages}

// =====================================================================
// RUVIDO --------------------------------------------------------------

body {
    color: $Main;
}

.padding_header_height {
    padding-top: 55px;
}

#BlogName {
/*padding-bottom: 2.4rem;*/
/*font-size:3.272rem; line-height:3.926rem;*/
/*font-size:2.427rem; line-height:2.912rem;*/
/*font-size:2.827rem; line-height:3.534rem;*/
}

#header_image {
    margin: 0 auto;
/*padding-top: 55px;*/
/*margin-top: -55px;*/
    background: #54aeb4;
    max-width: 700px;
/*padding-top: 2rem;*/
/*border-top: 2px solid #80CFD3;*/
}

.whitebg {
    background: #fff;
}

.headerbg {
    background: #54aeb4;
}

.headerbg.whitebg {
    background: #fff;
}

h1,h2,h3,h4,h5 {
    color: #1a3b3c;
}

.hidden {
    display: none;
}

.show {
    display: initial;
}

.tophr {
    max-width: 700px;
    border-top: 2px solid #54aeb4;
    padding-top: 1.2rem;
    margin: 0 auto;
/*margin-top:4.8rem;*/
}

.description {
    text-align: left;
    background: #FFF;
    color: #1a3b3c;
    border-radius: 50px;
    h2 {
      // font-size: 1.5rem; line-height: 2.427rem;
      // font-size:2.023rem; line-height:3.273rem;
    }
    h3 {
      // font-size: 1.25rem; line-height: 2.202rem;
      font-size: $h4_size rem;
      font-family: 'Calluna',serif;
      font-style: italic;
      font-weight: 100;
    }
}

.h2_size {
/*font-size:1.25rem; line-height:2.202rem;*/
    font-size: 1.5rem; line-height: 2.427rem;
/*font-size:2.023rem; line-height:3.273rem;*/
}

.h3_size {
    font-size: 1.25rem; line-height: 2.202rem;
/*font-size:1.5rem; line-height:2.427rem;*/
/*font-size:2.023rem; line-height:3.273rem;*/
}

.header_tag {
    text-align: left;
}

.content_header {
    font-size: 1.5rem;
    line-height: 2.427rem;
    font-weight: 900;
/*border-bottom: 2px solid #80CFD3; */
    text-align: center;
}

.menu_item,.menu_item_landing {
  @extend .font_black;
  display: inline-block;
  white-space: nowrap;
  font-size: 1.2rem;

  a {
    color: $Text;
  }
  a:hover {
    color: $Main;
  }
}

.withlove {
    color: #FFA48F;
}

.roundImage {
    border-radius: 50%;
}

h1.title {
    margin-top: 2.912rem;
    font-size: 1.5rem;
    line-height: 2.427rem;
    margin-top: 1.2rem;
}

h1.title:before {
    content: '\2022';
    color: #54aeb4;
    font-size: 2rem;
    margin-right: .6rem;
}

.bmargin {
    margin: 0 0 2rem;
    margin: 0;
}

p.a {
    color: red;
}

.readMoreButton {
  margin: 1rem 0 2rem 0;
  font-size: 1.6rem; //2.427rem; line-height:2.912rem;

}

.bottom {
  padding: 0 0 2rem 0;
}