<html lang="en">
<head>

{% include header.html %} 

</head>


<!-- <body onload="prettyPrint()" tabindex="0" onkeydown="keyPress(event)" class="{block:TagPage}padding_header_height {/block:TagPage} {block:PermalinkPage}padding_header_height{/block:PermalinkPage}"> -->

<body>
    <div id="sb-site">

        <!-- <div class="row header fullRow whitebg" id="header_landing"> -->
        <header id="landing">

            <img src="{{site.header}}">
            
            <div class="row">

                <h1 class="bg_size">{{ page.title }}</h1>

                <ul>
                    {% for page in site.menu %}
                    <li class="menu_item">
                        <a href="{{page.href}}">{{page.title}}</a>
                    </li>
                    {% endfor %}
                </ul>

            </div>

        </header>


        <div class="row description">


                {{ content }}
            

        </div>


    {% include footer.html %}


    </div>

</body>
</html>