<html lang="it">
<head>

{% include header.html %} 



</head>


<body>


<div id="sb-site"> <!--main content for animation-->


<header id="top">
    
    <div class="logo">
        &nbsp;<a href="/"><img src="{{site.logo}}" /></a>
    </div>

    <nav>

    {% for page in site.menu %}
        <a class="item" href="{{page.href}}">{{page.title}}</a>
    {% endfor %}

    </nav>
     
</header>

<div class="header_spacer"></div>


<style type="text/css">
{% if page.image %}


{% if page.preview %}
.splash {background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('{{site.previews}}/{{page.image}}');}
{% endif %}

{% if page.publish %}
.splash {background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('{{site.images}}/{{page.image}}');}
{% endif %}

.postHead, .postHead h1, .postAuthor {color: white;}
{% else %}
.splash {
    height: 14rem !important ;
}
{% endif %}
</style>



 <!-- 
---------------------------------------------------
---------------------------------------------------
INDEX TYPE
---------------------------------------------------
---------------------------------------------------
 -->
{% if page.type == 'index' %}

<section id="postTitle">
    <div class="splash"></div>

    <div class="postHead">
        <h1><a href="{{page.url}}">{{page.title}}</a></h1>
    </div>
</section>

<div class="post row">

    <div class="postIndex">
    {% for post in site.posts %}

        {% assign print_post = false %}
        {% if post.tag contains page.tag %}{% assign print_post = true %}{% endif %}
        {% unless page.tag %}{% assign print_post = true %}{% endunless %}

        {% if print_post %}

        <div class="postTitle"><a href="{{ post.url }}">{{ post.title }}</a></div>
        <div class="postStats"><i class="fa fa-clock-o"></i>{% include dates_ita.html %}
            {% if post.tag %}
            <div class="tags">
            <i class="fa fa-tag"></i>
            {% for tag in post.tag %}
                <a href="/{{tag}}" class="nobold">{{tag}}</a>
            {% endfor %}
            </div>
            {% endif %}
        </div>

        {% endif %}

    {% endfor %}
    </div>

</div>

<!-- 
---------------------------------------------------
---------------------------------------------------
PREVIEWS
---------------------------------------------------
---------------------------------------------------
 -->

{% elsif page.type == 'previews' %}

<section id="postTitle">
    <div class="splash"></div>

    <div class="postHead">
        <h1><a href="{{page.url}}">{{page.title}}</a></h1>
    </div>
</section>

<div class="post row">

    <div class="postIndex">
    {% for post in site.pages %}
        {% if post.preview %}

        <div class="postTitle"><a href="{{ post.url }}">{{ post.title }}</a></div>
        <div class="postStats">
        <div class="postPath"><i class="fa fa-folder-open" style="margin-right: 0.1rem;"></i> {{post.path}}</div>
        <i class="fa fa-clock-o"></i>{% include dates_ita.html %}
            {% if post.tag %}
            <div class="tags">
            <i class="fa fa-tag"></i>
            {% for tag in post.tag %}
                <a href="/{{tag}}" class="nobold">{{tag}}</a>
            {% endfor %}
            </div>
            {% endif %}
        </div>


        {% endif %}

    {% endfor %}
    </div>

</div>


<!-- 
---------------------------------------------------
---------------------------------------------------
POST & PAGE TYPE
---------------------------------------------------
---------------------------------------------------
 -->

{% else %}

<section id="postTitle">
    <div class="splash"></div>

    <div class="postHead">
        <h1><a href="{{page.url}}">{{page.title}}</a></h1>
      
        {% unless page.type == 'page' %}
        <span class="postAuthor">
          
              <a href="/chi-siamo"><img class="postAuthorImage" src="{{site.logo}}"/></a>
              
              da
              <a href="/chi-siamo">
              <span class="author-name">

              {% for author in site.authors %}{% if author.name == page.author %}
                {{ author.display }},
              {%endif%}{%endfor%}

              </span></a> 

                {% include dates_ita.html %}

        </span>
        {% endunless %}
    </div>
</section>

<div class="post row">
{% include alert.html %}
</div>

<div class="post row">

    {{ content }}    
    
</div>


  <!--POST FOOTER FOR TEXT-->
    <div class="postFooter row">
      <ul class="postStats bmargin">
        
          
        {% for tag in page.tag %}
        <li class="tags">
            <a href="/{{tag}}" class="nobold">{{tag}}</a>
        </li>
        {% endfor %}

        <a class="share" id="shareTwitter" href="https://twitter.com/share?" target="_blank" url="" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')">
            <i class="fa fa-twitter"></i> Tweet
        </a>
      
        <a class="share" id="shareFacebook" href="#" onclick="shareFunction()">
            <i class="fa fa-facebook-square"></i> Condividi
        </a>
          
          
      </ul>
    </div>
  
{% endif %}

<!-- 
---------------------------------------------------
---------------------------------------------------
---------------------------------------------------
 -->


{% include footer.html %}

<!-- This script makes the header more compact on smaller screens -->

<script>
// $(document).ready(function () {
    if($(window).width() < 700){
   // alert('Less than 700');

        $("a.item:contains('Testimonianze')").hide();
        $("a.item:contains('Consigli pratici')").text('Consigli');            
    }
// });
</script>



</body>
</html>
