<html lang="en">
<head>

{% include header.html %} 



</head>


<body>


<div id="sb-site"> <!--main content for animation-->


<header id="top">
    
    <div class="logo">
        &nbsp;<a href="/"><img src="{{site.logo}}" /></a>
    </div>

    <nav>

    {% for page in site.data.menu %}
        <a class="item" href="{{page.href}}">{{page.title}}</a>
    {% endfor %}

    </nav>
     
</header>

<div class="header_spacer"></div>


<style type="text/css">
{% if page.image %}
.splash {background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('{{site.images}}/{{page.image}}');}
.postHead, .postHead h1, .postAuthor {color: white;}
{% else %}
.splash {
    /*height:10px;*/
    /*background: red;*/
    height: 14rem !important ;
}
{% endif %}
</style>


<section id="postTitle">
    <div class="splash caz"></div>

    <div class="postHead">
        <h1><a href="{{page.url}}">{{page.title}}</a></h1>
      
        <span class="postAuthor">
          
              <a href="/chisiamo"><img class="postAuthorImage" src="{{site.logo}}"/></a>
              
              da
              <a href="/chisiamo">
              <span class="author-name">

              {% include authors.html %}

              </span></a> 

                {% include dates_ita.html %}

        </span>
    </div>
</section>

<div class="post row">

    {{ content }}    
    
</div>


  <!--POST FOOTER FOR TEXT-->
    <div class="postFooter row">
      <ul class="postStats bmargin">
        


<!-- FOR LOOP TO ADD TAGS -->
          
          <li class="tags">
                <a href="http://matrimoniofrancescano.tumblr.com/tagged/articoli" class="nobold articoli">articoli</a>
            </li>

            <a class="share" id="shareTwitter" href="https://twitter.com/share?" target="_blank" url="" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')">
                <i class="fa fa-twitter"></i> Tweet
            </a>
          
            <a class="share" id="shareFacebook" href="#" onclick="shareFunction()">
                <i class="fa fa-facebook-square"></i> Condividi
            </a>
          
          
      </ul>
    </div>
  
    
 <!--    <a id="previousPost" href="http://matrimoniofrancescano.tumblr.com/post/125874048356"></a>
    <a id="nextPost" href="http://matrimoniofrancescano.tumblr.com/post/126176520526"></a>
    <a id="randomPost" href="http://matrimoniofrancescano.tumblr.com/random"></a>
    <p class="pCenter">
        <a class="hint" id="tooltip" data-title=" Use your arrow keys to navigate OR use the forward slash to load a random post">
          <i class="fa fa-keyboard-o"></i>
        </a>
    </p> -->
    
  

  <!--Post Navigation-->
  
    
  <!--     <div class="permalinkPagination hideOnPrint">

        
          <a class="postNav" id="previousPost" href="http://matrimoniofrancescano.tumblr.com/post/125874048356"><i class="fa fa-long-arrow-left"></i></a>
        

        
              <a class="postNav" href="http://matrimoniofrancescano.tumblr.com/random"><i class="fa fa-random"></i></a>
        

        
          <a class="postNav" id="nextPost" href="http://matrimoniofrancescano.tumblr.com/post/126176520526"><i class="fa fa-long-arrow-right"></i></a>
        

      </div>
      -->
      <!-- <div class="spaceSmall"></div> -->

  
<!-- </div> Content row -->

{% include footer.html %}

<!-- This script makes the header more compact on smaller screens -->

<script>
// $(document).ready(function () {
    if($(window).width() < 700){
   // alert('Less than 700');

        $("a.item:contains('Testimonianze')").hide();
        $("a.item:contains('Consigli pratici')").text('Consigli');            
    }
// });
</script>



</body>
</html>
